# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map
lib/**
www/**

yarn-error.log

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Custom environment variables from Cloud Runtime Configuration
.runtimeconfig.json
