dist
**/.terraform
**/.DS_Store
**/terraform.tfstate.backup
.vscode

# Firebase Emulator logs
firestore-debug.log
firebase-debug.log
ui-debug.log
.firebase/

.runtimeconfig.json

**/node_modules
village-web/build/static/js